/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Styles for body */
body {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 0;
  align-items: normal;
  grid-template-areas: "nav container";
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
}
@media (max-width: 48em) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav" "container";
  }
}

/* Styles for navbar */
.navbar {
  grid-area: nav;
  background-color: hsl(200, 95%, 14%);
  padding: 1rem;
  display: grid;
  row-gap: 3rem;
  align-content: start;
  color: hsl(0, 0%, 100%);
}
@media (max-width: 48em) {
  .navbar {
    row-gap: 0.625rem;
  }
}

.nav__heading {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.3125rem;
  align-items: center;
}
.nav__heading h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.2rem);
}
.nav__heading button {
  background-color: hsl(200, 95%, 14%);
  border: 1px solid hsl(200, 95%, 14%);
  cursor: pointer;
}

.nav__links {
  display: grid;
  gap: 3rem;
  padding-inline-start: 0.625rem;
}
@media (max-width: 48em) {
  .nav__links {
    display: none;
  }
}

.nav__links-top,
.nav__links-bottom {
  display: grid;
  gap: 1rem;
}
.nav__links-top li,
.nav__links-bottom li {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  align-items: center;
}
@media (max-width: 48em) {
  .nav__links-top li,
  .nav__links-bottom li {
    gap: 0;
  }
}
.nav__links-top a,
.nav__links-bottom a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(0.7rem, 0.543rem + 0.786vw, 1.25rem);
  display: inline-block;
  transition: all 0.3s ease;
}
.nav__links-top a:hover,
.nav__links-bottom a:hover {
  background-color: #035177;
  padding: 5px;
  border-radius: 5px;
}
.nav__links-top a:focus,
.nav__links-bottom a:focus {
  background-color: #035177;
  padding: 5px;
  border-radius: 5px;
  outline: 1px solid hsl(2, 78%, 60%);
}

@media (max-width: 48em) {
  .nav__links-top {
    margin-block-end: 1rem;
  }
}

/* Styles for Header and Main */
.container {
  grid-area: container;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0;
  align-items: normal;
  grid-template-areas: "header" "main";
}

/* Styles for Header */
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 1rem 2rem;
  background-color: hsl(192, 70%, 43%);
  display: grid;
  gap: 1rem;
  color: hsl(200, 95%, 14%);
  font-weight: 500;
  font-size: clamp(0.7rem, 0.543rem + 0.786vw, 1.25rem);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.header__row1,
.header__row2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: normal;
}

/* Media queries at 840px */
@media (max-width: 48em) {
  .header__row1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0;
    align-items: center;
    grid-template-areas: ". searchbar profile";
  }
}

@media (max-width: 48em) {
  .header__row2 {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
}

.header__searchbar {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 0;
  align-items: center;
}
.header__searchbar input {
  align-self: center;
  border: 1px solid hsl(192, 70%, 43%);
  border-radius: 50px;
  padding: clamp(0rem, -0.136rem + 0.68vw, 0.476rem);
}
.header__searchbar input:focus {
  outline: 2px solid hsl(2, 78%, 60%);
}
@media (max-width: 48em) {
  .header__searchbar {
    grid-area: searchbar;
  }
}

.header__profile {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0;
  align-items: normal;
}
.header__profile a {
  justify-self: end;
  align-self: center;
  transition: all 0.3s ease;
}
.header__profile a:hover,
.header__profile a:focus {
  outline: none;
  transform: scale(1.5);
}
.header__profile img {
  place-self: center;
}
@media (max-width: 48em) {
  .header__profile > img {
    display: none;
  }
}
.header__profile p {
  justify-self: start;
  align-self: center;
}
@media (max-width: 48em) {
  .header__profile p {
    display: none;
  }
}
@media (max-width: 48em) {
  .header__profile {
    grid-area: profile;
  }
}

.header__greeting {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 0;
  align-items: center;
}
.header__greeting div {
  line-height: 1;
}
@media (max-width: 48em) {
  .header__greeting div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 48em) {
  .header__greeting img {
    display: none;
  }
}
@media (max-width: 48em) {
  .header__greeting {
    grid-template-columns: 1fr;
  }
}

.header__name {
  font-family: "Cabin Sketch", sans-serif;
  font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
  font-weight: 700;
}

.header__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.header__buttons button {
  border: 1px solid hsl(200, 95%, 14%);
  border-radius: 50px;
  background-color: hsl(200, 95%, 14%);
  color: hsl(0, 0%, 100%);
  padding: 0.1875rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header__buttons button:focus {
  outline: 2px solid hsl(2, 78%, 60%);
}

/* Styles for Main */
.main {
  grid-area: main;
  padding: 2rem 0;
  background-color: hsl(199, 64%, 90%);
}

.main__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: normal;
  width: min(90%, 1200px);
  margin: auto;
}
@media (max-width: 48em) {
  .main__content {
    display: grid;
    grid-template-columns: 1fr;
    display: grid;
    gap: 1.5rem;
  }
}
.main__content h2 {
  margin-block-end: 0.625rem;
  font-size: clamp(1.2rem, 1.114rem + 0.429vw, 1.5rem);
}

/* Make Projects section responsive */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

/* Styles for project card */
.project {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  border-left: 10px solid hsl(32, 92%, 56%);
  border-radius: 10px;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
.project h3 {
  font-size: clamp(0.938rem, 0.848rem + 0.446vw, 1.25rem);
  margin-block-end: 0.625rem;
}

.project__title {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

.project__icons {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  place-items: end;
}

/* Styles for Announcements section */
.announcements__content {
  display: grid;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  margin-block-end: 2rem;
  border-left: 10px solid hsl(185, 100%, 23%);
  font-size: clamp(0.75rem, 0.714rem + 0.179vw, 0.875rem);
}

.announcement:nth-child(1) {
  padding-block-end: 1rem;
}

.announcement:nth-child(2) {
  padding-block: 1rem;
}

.announcement:nth-child(3) {
  padding-block-start: 1rem;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

/* Styles for Trending section */
.trending__title {
  margin-block: 1rem;
}

.trending__items {
  display: grid;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  border-left: 10px solid hsl(265, 83%, 57%);
}

.trending__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
  align-items: center;
}

.trending__name {
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */