@use './variables' as *;

@mixin grid-col-2($col1, $col2, $gap, $ai) {
  display: grid;
  grid-template-columns: $col1 $col2;
  gap: $gap;
  align-items: $ai;
}

@mixin grid-col-3($col1, $col2, $col3, $gap, $ai) {
  display: grid;
  grid-template-columns: $col1 $col2 $col3;
  gap: $gap;
  align-items: $ai;
}


@mixin grid-row($gap) {
  display: grid;
  gap: $gap;
}

@mixin card {
  border-radius: 10px;
	padding: $space-lg;
  background-color: $txt-clr-nav;
 box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

@mixin hover {
  background-color: lighten($bg-clr-navbar, 10%);
  padding: 5px;
  border-radius: 5px;
}