@use './functions' as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Spacing
$space-2xs: pxToRem(3);
$space-xs: pxToRem(5);
$space-sm: pxToRem(10);
$space-md: pxToRem(16);
$space-lg: pxToRem(24);
$space-xl: pxToRem(32);
$space-2xl: pxToRem(48);

// Font weights
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Colors
$bg-clr-navbar: hsl(200, 95%, 14%);
$bg-clr-header: hsl(192, 70%, 43%);
$bg-clr-main: hsl(199, 64%, 90%);
$txt-clr-nav: hsl(0, 0%, 100%);
$focus-clr: hsl(2, 78%, 60%);
$accent-clr-1: hsl(32, 92%, 56%);
$accent-clr-2: hsl(265, 83%, 57%);
$accent-clr-3: hsl(185, 100%, 23%);