@use './reset';
@use './variables' as *;
@use './functions' as *;

body {
	height: 100svh;
	display: grid;
	grid-template-columns: auto 1fr;

	grid-template-areas: 'nav container';
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	grid-area: nav;
	background-color: steelblue;
	padding: $space-md;
	display: grid;
	row-gap: $space-xl;

	align-content: start;

	color: white;
}

.nav__heading {
	display: grid;
	grid-template-columns: 1fr 4fr;

	gap: $space-md;

	align-items: center;

	h2 {
		font-family: 'Cabin Sketch', sans-serif;
	}
}

.nav__links {
	display: grid;

	gap: $space-xl;
}

.nav__links-top,
.nav__links-bottom {
	display: grid;
	gap: $space-md;

	li {
		display: grid;
		grid-template-columns: 1fr 6fr;

		gap: $space-md;

		align-items: center;
	}
	a {
		color: white;
		text-decoration: none;
	}
}

.container {
	grid-area: container;
	display: grid;
	grid-template-rows: auto 1fr;

	grid-template-areas:
		'header'
		'main';
}

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	z-index: 99;
	padding: $space-md $space-lg;
	background-color: #e67474;
	display: grid;
	gap: $space-md;
}

.header__row1,
.header__row2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: $space-lg;
}

.header__searchbar {
	display: grid;
	grid-template-columns: 1fr 10fr;

	align-items: center;

	input {
		align-self: center;
		border: 1px solid #e67474;
		border-radius: 50px;
		padding: $space-xs;
	}
}

.header__profile {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 2fr;

	a {
		justify-self: end;
		align-self: center;
	}
	img {
		place-self: center;
	}

	p {
		justify-self: start;
		align-self: center;
	}
}

.header__greeting {
	display: grid;
	grid-template-columns: 1fr 6fr;

	align-items: center;

	h1 {
		font-family: 'Cabin Sketch', sans-serif;
	}
}

.header__buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: $space-md;

	button {
		border: 1px solid #0b7b21;
		border-radius: 50px;
		background-color: #0b7b21;
		color: white;
		padding: $space-sm;
	}
}

.main {
	grid-area: main;
	display: grid;
	grid-template-columns: 3fr 1fr;

	gap: $space-md;

	padding: $space-md;
}

.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: $space-md;
}

.project {
	display: grid;
	grid-template-rows: 1fr 5fr 1fr;
	border: 1px solid black;
	padding: $space-md;
}

.project__title {
	font-family: 'Cabin', sans-serif;
	font-weight: $fw-bold;
}

.project__icons {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	place-items: end;
}

.announcements__content {
	border: 1px solid black;
	padding: $space-md;
	display: grid;
}

.announcement:nth-child(1) {
	padding-block-end: $space-md;
	font-size: $fs-announcement;
}

.announcement:nth-child(2) {
	padding-block: $space-md;
	font-size: $fs-announcement;
}

.announcement:nth-child(3) {
	padding-block-start: $space-md;
	font-size: $fs-announcement;
}

.announcement:not(:last-child) {
	border-bottom: 1px solid gray;
}

.trending__title {
	margin-block: $space-md;
}
.trending__items {
	border: 1px solid #000;
	padding: $space-md;
	display: grid;

	gap: $space-md;
}

.trending__item {
	display: grid;
	grid-template-columns: 1fr 3fr;

	align-items: center;
}
