@use './reset';
@use './variables' as *;
@use './mixins' as *;


body {
	height: 100svh;
  @include grid-col-2(auto, 1fr, 0, normal);
	grid-template-areas: 'nav container';
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	grid-area: nav;
  background-color: $bg-clr-navbar;
	padding: $space-md;
	display: grid;
	row-gap: $space-2xl;
	align-content: start;
	color: $txt-clr-nav;
}

.nav__heading {
  @include grid-col-2(1fr, 4fr, $space-md, center);

	h1 {
		font-family: 'Cabin Sketch', sans-serif;
    font-size: $fs-title;
	}
}

.nav__links {
  @include grid-row($space-2xl);
  padding-inline-start: $space-sm;
}

.nav__links-top,
.nav__links-bottom {
  @include grid-row($space-md);

	li {
    @include grid-col-2(1fr, 6fr, $space-md, center);
	}

	a {
		color: $txt-clr-nav;
		text-decoration: none;
    font-weight: $fw-medium;
    font-size: $fs-navlink;
	}
}

.container {
	grid-area: container;
  @include grid-col-2(auto, 1fr, 0, normal);

	grid-template-areas:
		'header'
		'main';
}

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	z-index: 99;
	padding: $space-md $space-xl;
	background-color: $bg-clr-header;
  @include grid-row($space-md);
  color: $bg-clr-navbar;
  font-weight: $fw-medium;
  font-size: $fs-navlink;
}

.header__row1,
.header__row2 {
  @include grid-col-2(2fr, 1fr, $space-xl, normal);
  border-radius: 5px;
}

.header__searchbar {
  @include grid-col-2(1fr, 16fr, 0, center);

	input {
		align-self: center;
		border: 1px solid $bg-clr-header;
		border-radius: 50px;
		padding: $space-xs;
	}
}

.header__profile {
  @include grid-col-3(1fr, 1fr, 2fr, 0, normal);

	a {
		justify-self: end;
		align-self: center;
	}
	img {
		place-self: center;
	}

	p {
		justify-self: start;
		align-self: center;
	}
}

.header__greeting {
  @include grid-col-2(1fr, 6fr, 0, center);

	
  div {
    line-height: 1;
  }
}

.header__name {
		font-family: 'Cabin Sketch', sans-serif;
    font-size: $fs-name;
    font-weight: $fw-bold;
	}

.header__buttons {
  @include grid-col-3(1fr, 1fr, 1fr, $space-md, center);
	
	button {
		border: 1px solid $bg-clr-navbar;
		border-radius: 50px;
		background-color: $bg-clr-navbar;
		color: $txt-clr-nav;
		padding: $space-xs $space-sm;
	}
}

.main {
	grid-area: main;
  @include grid-col-2(3fr, 1fr, $space-md, normal);
	padding: $space-md;
  background-color: $bg-clr-main;

  h2 {
    margin-block-end: $space-sm;
  }
}

.projects {
  @include grid-col-2(1fr, 1fr, $space-lg, normal);
}

.project {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
  border-left: 10px solid $card-border-clr;
  border-radius: 10px;
	padding: $space-md;
  background-color: $txt-clr-nav;
 box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);

 h3 {
  font-size: $fs-navlink;
  margin-block-end: $space-sm;
 }
}

.project__title {
	font-family: 'Cabin', sans-serif;
	font-weight: $fw-bold;
}

.project__icons {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	place-items: end;
}

.announcements__content {
	padding: $space-md;
	display: grid;
  background-color: $txt-clr-nav;
}

.announcement:nth-child(1) {
	padding-block-end: $space-md;
	font-size: $fs-announcement;
}

.announcement:nth-child(2) {
	padding-block: $space-md;
	font-size: $fs-announcement;
}

.announcement:nth-child(3) {
	padding-block-start: $space-md;
	font-size: $fs-announcement;
}

.announcement:not(:last-child) {
	border-bottom: 1px solid hsl(0, 0%, 50%);
}

.trending__title {
	margin-block: $space-md;
}
.trending__items {
	padding: $space-md;
  @include grid-row($space-md);
  background-color: $txt-clr-nav;
}

.trending__item {
  @include grid-col-2(1fr, 3fr, 0, center);
}
